<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>cbc.view.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDormServlet</servlet-name>
    <servlet-class>cbc.controller.dorm.AddDormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindDormServlet</servlet-name>
    <servlet-class>cbc.controller.dorm.FindDormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cbc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cbc.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cbc.controller.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>cbc.controller.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllUserServlet</servlet-name>
    <servlet-class>cbc.controller.user.FindAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>cbc.controller.user.FindUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>cbc.controller.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateDormServlet</servlet-name>
    <servlet-class>cbc.controller.dorm.UpdateDormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteDormServlet</servlet-name>
    <servlet-class>cbc.controller.dorm.DeleteDormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <servlet-class>cbc.controller.student.FindAllStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>cbc.controller.student.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindStudentServlet</servlet-name>
    <servlet-class>cbc.controller.student.FindStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>cbc.controller.student.DeleteStudent</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdStudentServlet</servlet-name>
    <servlet-class>cbc.controller.student.UpdStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDamageServlet</servlet-name>
    <servlet-class>cbc.controller.damage.AddDamageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllDamageServlet</servlet-name>
    <servlet-class>cbc.controller.damage.FindAllDamageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateDamageServlet</servlet-name>
    <servlet-class>cbc.controller.damage.UpdateDamageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddVisitorServlet</servlet-name>
    <servlet-class>cbc.controller.visitor.AddVisitorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllVisitorServlet</servlet-name>
    <servlet-class>cbc.controller.visitor.FindAllVisitorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllScoreServlet</servlet-name>
    <servlet-class>cbc.controller.score.FindAllScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddScoreServlet</servlet-name>
    <servlet-class>cbc.controller.score.AddScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAllServelt</servlet-name>
    <servlet-class>cbc.controller.score.DeleteAllServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllScore1</servlet-name>
    <servlet-class>cbc.controller.userlook.FindAllScore1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindStudent1</servlet-name>
    <servlet-class>cbc.controller.userlook.FindStudent1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindDorm1</servlet-name>
    <servlet-class>cbc.controller.userlook.FindDorm1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllVisitor1</servlet-name>
    <servlet-class>cbc.controller.userlook.FindAllVisitor1</servlet-class>
  </servlet>






























  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDormServlet</servlet-name>
    <url-pattern>/adddorm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindDormServlet</servlet-name>
    <url-pattern>/finddorm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/servlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllUserServlet</servlet-name>
    <url-pattern>/findalluser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/finduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDormServlet</servlet-name>
    <url-pattern>/updatedorm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDormServlet</servlet-name>
    <url-pattern>/deletedorm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <url-pattern>/findallstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStudentServlet</servlet-name>
    <url-pattern>/findstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdStudentServlet</servlet-name>
    <url-pattern>/updstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDamageServlet</servlet-name>
    <url-pattern>/adddamage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllDamageServlet</servlet-name>
    <url-pattern>/findalldamage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDamageServlet</servlet-name>
    <url-pattern>/updatedamage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVisitorServlet</servlet-name>
    <url-pattern>/addvisitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllVisitorServlet</servlet-name>
    <url-pattern>/findallvisitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllScoreServlet</servlet-name>
    <url-pattern>/findallscore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddScoreServlet</servlet-name>
    <url-pattern>/addscore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAllServelt</servlet-name>
    <url-pattern>/deleteall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllScore1</servlet-name>
    <url-pattern>/findallscore1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStudent1</servlet-name>
    <url-pattern>/findstudent1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindDorm1</servlet-name>
    <url-pattern>/finddorm1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllVisitor1</servlet-name>
    <url-pattern>/findallvisitor1</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
